@font-face {
  font-family: "Shentox";
  src: url("./fonts/Shentox.ttf");
}

@font-face {
  font-family: "Graphik";
  src: url("./fonts/GraphikRegular.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Shentox", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #f7f8f8;
}

.tnw-logo {
  filter: brightness(0) saturate(100%) invert(0%) sepia(43%) saturate(7466%) hue-rotate(59deg) brightness(90%) contrast(107%);
}

header .tnw-logo {
  height: 16px;
  margin: 16px 0;
}

header .tnw-logo:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(20%) sepia(98%) saturate(4186%) hue-rotate(302deg) brightness(80%) contrast(115%);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav.main li {
  padding: 15px 12px;
  font-size: 14px;
  color: #505666;
}

nav.main li:hover {
  background-color: #fff;
}

header .fa-envelope {
  color: #cccfd3;
}

header .fa-envelope:hover {
  color: #000;
  cursor: pointer;
}

.announcement {
  padding: 10px 24px;
  background-color: #fd3;
  box-shadow: 0 12px 48px #00000026;
}

.announcement a {
  font-family: "Graphik", sans-serif;
  font-size: 13px;
}

.showcase {
  padding: 32px 32px 0 32px;
}

.showcase .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
  margin-bottom: 32px;
}

.showcase .tnw-logo {
  height: 46px;
}

.showcase .title h1 {
  font-size: 30px;
  font-weight: normal;
  color: #505666;
  font-family: "Graphik", sans-serif;
}